body {
  background-color: #0c121f;
}

h1 {
  color: #3af2fc;
  font-size: 40px;
}

nav {
  background-color: #5626ff;
}

a,
h3 {
  color: #20c749;
  font-size: 20px;
}

a:hover {
  color: #faa1ff;
  text-decoration: none;
}

li {
  display: inline-block;
  padding: 10px 30px;
}

input {
  width: 300px;
  margin-bottom: 10px;
}

textarea {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
}

.large-top-padding {
  padding-top: 100px;
}

.small-top-padding {
  padding-top: 30px;
}

.blue-text {
  color: #5626ff;
  font-size: 20px;
}

.submit-btn {
  color: #20c749;
  background: #0c121f;
  border: solid 3px #20c749;
}

.submit-btn:hover {
  color: #faa1ff;
  border: solid 3px #faa1ff;
}

@media (min-width: 768px) {
  .no-left-pad {
    padding-left: 0;
  }
}


/*

navy-blue: #0c121f
green: #20c749
pink: #faa1ff
light-blue: #3af2fc
purple: #5626ff

*/
