
.card-title {
  color: #004d40;
}

.card .card-action a {
  color: #00e676;
}

.card .card-action a:hover {
  color: #76ff03;
}

.brand-logo {
  margin-left: 20px;
}

.text-center {
  margin: auto;
  max-width: 800px;
}
