body,
html {
  font-family: 'Pontano Sans', sans-serif;
}

.card-title {
  color: #004d40;
}

.card .card-action a {
  color: #00e676;
}

.card .card-action a:hover {
  color: #76ff03;
}

.hover-submit:hover {
  color: #76ff03;
}

.brand-logo {
  margin-left: 20px;
}

.text-center {
  margin: auto;
  max-width: 800px;
}

.btn-flat {
  padding: 0;
}

textarea {
  height: 200px;
}

button {
  margin: 10px 40%;
}

@media (min-width: 750px) {
  section {
    max-width: 60%;
  }
}
