<h2 class="center-align">All Tasks</h1>

<article class="center-align">
  <% @tasks.each do |task| %>
    <div class="row">
       <div class="col s12 offset-m4 m4">
         <div class="card blue lighten-3 z-depth-2">
           <div class="card-content white-text">
             <span class="card-title"><%= task.title %></span>
           </div>
           <div class="card-action indigo">
             <a href="/tasks/<%= task.id %>">View</a>
             <a href="#">Edit</a>
             <a href="#">Delete</a>
           </div>
         </div>
       </div>
     </div>
  <% end %>
</article>
