<nav class="navbar navbar-nav row col-lg-12 col-md-12 col-sm-12 col-xs-12 no-left-pad">
  <a href="/tasks">Task Index</a>
</nav>

<header>
  <h1>Add a New Task</h1>
</header>

<form action="/tasks" method="post">
  <p class="blue-text">Enter a new task:</p>
  <input type='text' name='task[title]'/><br/>
  <textarea name='task[description]'></textarea><br/>
  <input class="submit-btn" type='submit'/>
</form>
