<div class="row center-align">
  <h2 class="teal-text text-darken-4"><%= @task.title %></h1>
</div>

<hr>

<div class="row center-align">
  <h5 class="center-align text-center light-blue-text text-darken-4"><%= @task.description %></h5>
</div>
